@charset "utf-8";

@import "../../node_modules/bulma/bulma";
@import "../../node_modules/bulma-slider/dist/bulma-slider";
// TODO: import bulma more selectively
// @import "../../node_modules/bulma/sass/utilities/_all"
// @import "../../node_modules/bulma/sass/base/_all"
// @import "../../node_modules/bulma/sass/elements/_all"
// @import "../../node_modules/bulma/sass/components/_all"
// @import "../../node_modules/bulma/sass/grid/_all"
// @import "../../node_modules/bulma/sass/layout/_all"

@keyframes fa-blink {
    0% { opacity: 1; }
    25% { opacity: 0.25; }
    50% { opacity: 0.5; }
    75% { opacity: 0.75; }
    100% { opacity: 0; }
}
.fa-blink {
  -webkit-animation: fa-blink .75s linear infinite;
  -moz-animation: fa-blink .75s linear infinite;
  -ms-animation: fa-blink .75s linear infinite;
  -o-animation: fa-blink .75s linear infinite;
  animation: fa-blink .75s linear infinite;
}
